:root{
    --branding-color:#f2f4fb;
    --default-button-color: #A3B5F7;
    --header-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Quicksand', sans-serif;

}
.homepage-hero{
    background-color: var(--branding-color);
    text-align: center;
    padding: 100px 0px;
}
h1{
    font-family: var(--header-font-family);
    font-size: 100px;
}
h2{
    font-family: var(--default-font-family);
    font-size: 50px;
}
h3{
    font-family: var(--default-font-family);
    font-size: 40px;
}
.button{
    margin-top: 50px;
}
.btn-contact{
    font-family: var(--header-font-family);
    background-color: var(--default-button-color);
    color: #fff;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
}